<settings xmlns="wsp:settings">
    <version>3.0</version>
    <sensors>
        <wsensor>
            <id>1</id>
            <name>Local</name>
            <readings>
                <id>1.0</id>
                <name>Temp</name>
                <position>topleft</position>
            </readings>
            <readings>
                <id>1.1</id>
                <name>Hum</name>
                <position>topright</position>
            </readings>
            <readings>
                <id>1.2</id>
                <name>Pre</name>
                <position>middleleft</position>
            </readings>
        </wsensor>
        <wsensor>
            <id>2</id>
            <name>Shed</name>
            <readings>
                <id>2.0</id>
                <name>Temp</name>
                <position>topleft</position>
            </readings>
            <readings>
                <id>2.1</id>
                <name>Hum</name>
                <position>middleright</position>
            </readings>
            <readings>
                <id>2.3</id>
                <name>Non</name>
            </readings>
        </wsensor>
        <wsensor>
            <id>100</id>
            <name>bob</name>
        </wsensor>
        <wsensor>
            <id>200</id>
            <name>ant</name>
        </wsensor>
        <wsensor>
            <id>300</id>
            <name>gar</name>
        </wsensor>
    </sensors>
    <database>
        <host>172.16.20.5</host>
        <enable>true</enable>
        <port>5432</port>
        <database-name>test_weatherdb</database-name>
        <user>test_weather</user>
        <password>testtest</password>
    </database>
    <gpio>
        <gpio1>17</gpio1>
        <gpio2>27</gpio2>
        <gpio3>22</gpio3>
        <gpio4>18</gpio4>
        <gpio5>17</gpio5>
    </gpio>
    <i2c>
        <busno>3</busno>
        <atmega>4</atmega>
        <lcd>39</lcd>
    </i2c>
    <logging>
        <config-file>conf/logging.conf</config-file>
    </logging>
    <lcd-positions>
        <position>topleft</position>
        <name>
            <row>2</row>
            <col>0</col>
        </name>
        <val>
            <row>2</row>
            <col>5</col>
        </val>
    </lcd-positions>
    <lcd-positions>
        <position>topright</position>
        <name>
            <row>2</row>
            <col>11</col>
        </name>
        <val>
            <row>2</row>
            <col>15</col>
        </val>
    </lcd-positions>
    <lcd-positions>
        <position>middleleft</position>
        <name>
            <row>3</row>
            <col>0</col>
        </name>
        <val>
            <row>3</row>
            <col>5</col>
        </val>
    </lcd-positions>
    <lcd-positions>
        <position>middleright</position>
        <name>
            <row>3</row>
            <col>11</col>
        </name>
        <val>
            <row>3</row>
            <col>15</col>
        </val>
    </lcd-positions>
    <lcd-positions>
        <position>bottomleft</position>
        <name>
            <row>4</row>
            <col>0</col>
        </name>
        <val>
            <row>4</row>
            <col>5</col>
        </val>
    </lcd-positions>
    <lcd-positions>
        <position>bottomright</position>
        <name>
            <row>4</row>
            <col>11</col>
        </name>
        <val>
            <row>4</row>
            <col>15</col>
        </val>
    </lcd-positions>
</settings>
