<settings xmlns="wsp:settings">
    <sensors>
        <wsensor>
            <id>1</id>
            <name>Backbed</name>
            <readings>
                <id>1.0</id>
                <name>Temp</name>
                <position>topleft</position>
            </readings>
            <readings>
                <id>1.1</id>
                <name>Hum</name>
                <position>topright</position>
            </readings>
        </wsensor>
        <wsensor>
            <id>2</id>
            <name>Shed</name>
            <readings>
                <id>2.0</id>
                <name>Temp</name>
                <position>topleft</position>
            </readings>
            <readings>
                <id>2.1</id>
                <name>Hum</name>
                <position>middleright</position>
            </readings>
        </wsensor>
    </sensors>
</settings>
