[submodule "ReceiveModule"]
	path = ReceiveModule
	url = https://vcs.monotok.org/WeatherStationProject/ReceiveModule.git
[submodule "RemoteSensors"]
	path = RemoteSensors
	url = https://vcs.monotok.org/WeatherStationProject/RemoteSensors.git
