.vscode
build
bin/debug/*
test/build
test/gtest
test/gmock
test/unit/bin/*
test/coverage/*
/cmake-build-remotedebug/
/cmake-build-debug/
.idea/*.xml
/cmake-build-rasppi-build-local/
/cmake-build-asan/
/cmake-build-asan-pi/
/README.md.backup
!.gitkeep
/coverage/
/cmake-build-debug-dockerarmv6/
/cmake-build-cov-dockerarmv6/
/cmake-build-reldebinfo-dockerarmv6/
.env