[submodule "ReceiveModule"]
	path = ReceiveModule
	url = https://github.com/monotok/WS_Rec_Module.git
[submodule "RemoteSensors"]
	path = RemoteSensors
	url = https://github.com/monotok/RemoteSensors.git
